<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trans Administratif</title>
 <!-- Latest compiled and minified CSS -->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
 <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>

  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .row-margin-custom { margin-top: 2.0em; }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
    </head>
    <body class="center">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'list_letters_type' %}>Trans Administratif</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href={% url 'list_procuration_type' %}>Courriers par procuration</a></li>
        <li><a href={% url 'list_standalone_type' %}>Courriers sans procuration</a></li>
        <li><a href={% url 'list_procuration_relance_type' %}>Courriers de relance par procuration</a></li>
        <li><a href={% url 'form_chgmtprenom' %}>Changement de prénom</a></li>
      </ul>
    </div>
  </div>
</nav>

        <main class="container">

                {% block content %}{% endblock %}

        </main>

<footer class="text-center">
  <p>En cas d'erreur maria AT climent-pommeret DOT red</p>

  <p>Btw, le code (absolument dégueu, c'est du quick and dirty) est <a href="https://gitlab.climent-pommeret.red/Chopopope/site-transadministratif">ici</a>. (Please don't judge)</p>
</footer>
    </body>
</html>
