<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trans Administratif</title>
        <script src="{% static 'js/memory.js' %}"></script>
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'css/custom.css' %}>
    </head>
    <body class="center">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={% url 'list_letters_type' %}>Trans Administratif</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        {% for category, list in lists %}
                        <li><a href={% url 'list' category=category %}>{{ list.title }}</a></li>
                        {% endfor %}
                        <li><a href={% url 'form' category='attestation' id='chgmtprenom' %}>Changement de prénom</a></li>
                    </ul>
                    <ul id="memory" class="nav navbar-nav">
                        <li><span title="{{ strings.enableMemory }}" class="icon" id="save">&#128062;&#xfe0e;</span></li>
                        <li><span title="{{ strings.clearData }}" class="icon" id="forget">&#127754;&#xfe0e;</span></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">

            {% block content %}{% endblock %}

        </main>

        <footer class="text-center">
            <p>En cas d'erreur maria AT climent-pommeret DOT red</p>

            <p>Btw, le code (absolument dégueu, c'est du quick and dirty (m'enfin de moins en moins quand même)) est <a href="https://gitlab.climent-pommeret.red/Chopopope/site-transadministratif">ici</a>. (Please don't judge)</p>
        </footer>
    </body>
</html>
