{% extends 'pdfgenerator/base.html' %}
{% block content %}
<h1>C'est parti pour le changement de la mention de sexe à l'état civil ?</h1>
<p>Déjà : courage, patience et détermination. C'est pas simple mais ce n'est pas non plus infaisable.</p>

<p>Ça va être long et plein de détails un peu lourds, mais ça va bien se passer !</p>


<h2>Avocat, personne mandataire ou en personne ?</h2>
<p>C'est un choix que tu vas devoir faire ! Avec avocat.e, tu n'as plus grand chose à faire ici, tu peux t'en remettre à ton.a avocat.e ! Si tu choisis de le faire sans avocat.e tu dois faire le choix entre les 2 autres possibilités.</p>

<ul>
	<li> présentation de la requête en personne (tu fais les démarches seul.e et te présente à l'éventuelle audience seul.e)</li>
	<li> avec une personne mandataire (tu es assisté.e dans les démarches etc par un.e proche)</li>
</ul>

Attention, les personnes qui sont éligibles à t'assister dans tes démarches sont :

<ul>
	<li> tes parents</li>
	<li> ton.a conjoint.e par le mariage</li>
	<li> ton.a partenaire de PACS</li>
</ul>

Les deux cas et leurs différences de paperasseries seront indiquées au fur et à mesure.

<h2>Où est-ce que je m'adresse ? À qui ?</h2>
<p>Depuis le 01/01/2020, la requête est à adresser au <strong>Tribunal Judiciaire</strong> qui est compétent.</p>

<p>Si tu es né.e à l'étranger, le tribunal judiciaire compétent est celui de Nantes. Si tu es apatride, réfugié.e ou sous protection subsidiaire avec un certificat de l'OPFRA en lieu d'acte de naissance, le tribunal compétent est celui de de Paris. Dans les autres cas, le tribunal judiciaire compétent est celui de ton lieu de résidence.</p>

<p>Tu peux trouver l'adresse du tribunal judiciaire de ton lieu de résidence en ligne.</p>

<p>La requête que tu vas écrire se fait <strong>devant la chambre du Conseil</strong> (article 1055-8 du Code de procédure civile).<p>

<p>Tu adresses donc la requête au</p>
<p>Tribunal Judicidaire [Nom du lieu]</p>
<p>Chambre du Conseil</p>
<p>[Adresse]</p>
<p>[Code Postal] [Ville] [Cedex]</p>

<p>L'intégralité des documents doit être présent en <strong>deux exemplaires</strong> que tu peux soit déposer au greffe soit envoyer par courrier (avec accusé de réception !).</p>

<h2>Documents pouvant faciliter la procédure</h2>
Tu peux, si tu veux, ajouter les documents suivant à ton dossier :
<ul>
	<li><a href="https://www.formulaires.service-public.fr/gf/cerfa_16037.do">Cerfa 16037</a> donnant le consentement à une procédure sans audience</li>
	<li><a href="https://www.formulaires.service-public.fr/gf/cerfa_15414.do">Cerfa 15414</a> donnant le consement à la transmission par voie électronique</li>
</ul>

<h2>La requête en elle même</h2>
Respire, accroche toi :)

<h3>La page de garde</h3>
Il faut que tu mentionnes les éléments suivants :
<ul>
	<li>Le titre : Requête en modification de la mention de sexe à l’état-civil</li>
	<li>Les personnes à qui s'est adressé : À Mesdames et Messieurs les Présidents et Juges composant le Tribunal Judiciaire de [Lieu]</li>
	<li>Les gens visé : Devant la chambre du Conseil</li>
	<li>La justification des gens visés : article 1055-8 du Code de procédure civile</li>
	<li>L'identité complète de la personne requérante
		<ul>
			<li>Prénom [Nom d'usage s'il y a lieu] né.e [Nom de naissance], requérant.e</li>
			<li>Né.e le XX/XX/XXXX à [Ville], [Département en toute lettre] ([Numéro de département])</li>
			<li>[Profession]</li>
			<li>[Adresse complète]</li>
		</ul>
	</li>
	<li>S'il y a lieu, la même chose pour la personne mandataire (remplacer "requérant.e" par "personne mandataire")</li>
	<li>Qui fait quoi : Sans avocat, présentant sa requête en personne ou bien Sans avocat, présentant la requête comme personne mandataire, en qualité de [lien d'alliance : père, mère, époux, épouse, partenaire de PACS]</li>
</ul>

<h3>Le plan</h3>
<p>Tu commences même si c'est désuet par "A l'honneur de présenter ce qui suit :"</p>

<ul>
	<li>Énoncé des faits
		<ul>
			<li>Commence par un petit paragraphe qui explique que la personne requérante a été déclarée de sexe A et qu'on lui a choisi un prénom de type A mais que afin de respecter l'identité de genre réelle tu vas la genrer en B.</li>
			<li>Témoignage du requérant/de la requérante. Dans cette partie tu cites les éléments de témoignage que la personne demandant le changement de la mention de sexe à l'état civil souhaite apporter et qui mettent en lumière sa transidentité et sa revendication de la demande du changement de la mention de sexe.</li>
			<li>Présentation dans l'espace public. Dans cette partie tu cites les éléments montrant que la personne requérante se présente sous son genre revendiqué (oui je sais ça craint).</li>
			<li>Reconnaissance de l'identité dans la famille. Par exemple extraits d'attestations de la famille.</li>
			<li>Reconnaissance de l'identité par les amis et amies. Par exemple extraits d'attestation de potes.</li>
			<li>Reconnaissance de l'identité dans la sphére professionnelle. Par exemple photo de badge, contrats, etc</li>
			<li>Reconnaissance de l'identité par les organismes. Par exemple courriers de la CPAM, etc</li>
			<li>Changement de prénom. Là tu cites la décision d'autorisation de changement de prénom (numéro, autorité etc).</li>
		</ul>
	</li>
	<li>Rappel de l'état actuel de la loi</li>
	<li>Conclusion</li>
	<li>Liste des pièces</li>
</ul>

<h4>Énoncé des faits</h4>
<p>Tu mets les sections qui tu veux, mais il en faut plusieurs. Tu ne dis <strong>rien que tu ne peux pas prouver</strong> par le biais de pièces que tu vas joindre au dossier.</p>

<p>Tu cites des extraits d'attestations avec une note en bas de page qui cite la pièce et le paragraphe de la pièce qui est mentionné.</p>

<p>Tu numérotes tes pièces, toutes, les attestations, les courriers, les cartes postales, les photos, tout.</p>

<p>Tu peux faire ton propre témoignage à part et t'autociter (si tu rédiges toi même sinon c'est ta personne mandataire qui te cites !).</p>


<h4>Rappel à la loi</h4>
<p>Là ça se corse. Je te propose d'écrire ce qui suit.</p>

<p>L'article 56 de la loi 2016-1547 du 18 novembre 2016 de modernisation de la Justice du XXIème siècle – validé par le Conseil Constitutionnel dans sa décision 2016-739 DC du 17 novembre 2016 – vient introduire quatre nouveaux articles dans le Code Civil. </p>

<p>L’article 61-5 du Code Civil pose le principe que :</p>

<p>« Toute personne majeure ou mineure émancipée qui démontre par une réunion suffisante de faits que la mention relative à son sexe dans les actes de l’état civil <strong>ne correspondant pas à celui dans lequel elle se présente et dans lequel elle est connue</strong> peut en obtenir la modification.</p>

<p>Les principaux de ces faits, dont la preuve peut être rapportée par tous moyens,
peuvent être :</p>

<p><ul>
	<li>Qu’elle <strong>se présente publiquement</strong> comme appartenant au sexe revendiqué ;</li>
	<li>Qu’elle est <strong>connue sous le sexe revendiqué</strong> de son entourage familial, amical ou professionnel ;</li>
	<li>Qu’elle a <strong>obtenu le changement de son prénom</strong> afin qu’il corresponde au sexe revendiqué ; »</li>
</ul>
</p>

<p>L’article 61-6 dudit code ajoute :</p>

<p>« La demande est présentée devant le <strong>tribunal judiciaire</strong>.</p>

<p>Le demandeur fait état de son consentement libre et éclairé à la modification de
la mention relative à son sexe dans les actes de l’état civil et produit tous éléments
de preuve au soutien de sa demande.</p>

<p><strong>Le fait de ne pas avoir subi des traitements médicaux, une opération
chirurgicale ou une stérilisation ne peut motiver le refus de faire droit à
la demande.</strong></p>

<p>Le tribunal constate que le demandeur satisfait aux conditions fixées à l’article 61-
5 et ordonne la modification de la mention relative au sexe ainsi que, le cas échéant,
des prénoms, dans les actes de l’état civil. »</p>


<p>L’article 61-7 du Code Civil précise que, une fois le changement d’état civil accordé :</p>

<p>Mention de la décision de modification du sexe et, le cas échéant, des prénoms est
portée en marge de l’acte de naissance de l’intéressé, <strong>à la requête du procureur
de la République, dans les quinze jours suivant la date à laquelle cette
décision est passée en force de chose jugée.</strong></p>

<p>Par dérogation à l’article 61-4, les modifications de prénoms corrélatives à une
décision de modification de sexe ne sont portées en marge des actes de l’état civil des
conjoints et enfants qu’avec <strong>le consentement des intéressés</strong> ou de leurs représen-
tants légaux. »</p>

<p>Ce faisant, la procédure de changement de mention de sexe à l’état civil est complètement démédicalisé et ne se fonde que sur détermination sociale de son sexe par l’intéressé et par son entourage.</p>

<p>Le législateur a, de plus, pris la peine d’indiquer directement dans la loi que "Le fait de
ne pas avoir subi des traitements médicaux, une opération chirurgicale ou une stérilisation ne
peut motiver le refus de faire droit à la demande.". Cela a été confirmé par la cour d’appel de
Montpellier, dans l’arrêt du 15 mars 2017 :</p>

<p>« La personne ne doit plus établir [. . . ] la réalité du syndrome transsexuel [. . . ] ainsi
que le caractère irréversible de la transformation de l’apparence. La reconnaissance
sociale [est] posée par la loi nouvelle du 18 novembre 2016 comme seule condition à
la modification de la mention du sexe à l’état civil. »</p>

<h4>Conclusion</h4>
<p>On y est presque ! Un truc comme ça devrait aller :</p>

<p>En l'espèce, il a été exposé que [Prénom] [Nom de naissance] :</p>
<ul>
	<li>se présente publiquement de sexe masculin/féminin ;</li>
	<li>est connu.e sous cette identité masculine/féminine par sa famille ;</li>
	<li>est connu.e sous cette identité masculine/féminine par ses amis et amies ;</li>
	<li>est connu.e sous cette identité masculine/féminine par ses collègues ;</li>
	<li>a obtenu son changement de prénom, pour un prénom correspondant à son identité masculine/féminine ;</li>
	<li>donne son consentement libre et éclairé à la modification des actes d'état civil portant sa mention de sexe</li>
</ul>

<p>Dans ces conditions j'estime ma requête recevable et fondée à solliciter du Tribunal Judiciaire de [Ville] la modification de la mention de sexe sur les actes d'état civil du sexe "masculin"/"féminin" en lieu et place de la mention "féminin"/"masculin" sur son acte de naissance ([acte de mariage s'il y a lieu])</p>

<h4>Liste des pièces</h4>
<p>Il suffit de faire un inventaire qui donne une courte description de la pièce et son numéro !</p>

<h2>Les pièces justificatives</h2>

<h3>Les attestations</h3>
<ul>
	<li>doivent être écrites, de façon manuscrite, sur le <a href="https://www.formulaires.service-public.fr/gf/cerfa_11527.do">Cerfa 11525</a></li>
	<li>avec copie d'un document d'identité (CNI, passeport)</li>
</ul>

<p>Un exemple de script pour une attestation :</p>

<ul>
	<li>Phrase introductive expliquant votre rencontre avec la personne demandant le CEC</li>
	<li>Si connaissance de la personne pré-transition, phrase détaillant son coming-out et votre réaction</li>
	<li>Si connaissance de la transidentité pour des raisons administratives (par ex. employeur ayant remarqué le numéro de sécurité sociale), phrase expliquant pourquoi</li>
	<li>Une petite anecdote prouvant la connaissance de la personne (en gros prouver que vous êtes pas une personne trouvée dans la rue au dernier moment)</li>
	<li>Éventuellement, une phrase sur les difficultés administratives à cause de la non modification de la mention de sexe</li>
	<li>Une phrase de conclusion demandant le changement de la mention de sexe</li>
</ul>

<h3>Les autres pièces</h3>
<p>Toutes numérotées !</p>

<ul>
	<li>photos</li>
	<li>courriers personnels (cartes postales par exemple)</li>
	<li>courriers officiels (mutuelles, CPAM, banque etc)</li>
	<li>contrats, fiche de paie, etc</li>
	<li>ce qui te parait pertinent :)</li>
</ul>


<h2>Les documents à joindre</h2>

<h3>Le mandat de représentation</h3>
<p>S'il y a une personne mandataire, il faut un mandat co-signé et copie des papiers d'identité des 2 personnes.</p>

<p>[Prénoms Nom de famille] né.e le [Date de naissance] à [Ville] [Département] ([Numéro département]), [profession], demeurant [adresse] donne pouvoir par la présente à [Prénoms] [Nom de famille] né.e le [Date de naissance] à [Ville] [Département] ([Numéro département]), [profession], demeurant au [adresse] en sa qualité de [époux/épouse/père/mère/partenaire de PACS], de me représenter lors des procédures et audiences devant le Tribunal Judiciaire de [Ville] dans l'affaire de la requête en modification de ma mention de sexe à l'état civil. Bon pour pouvoir [signature] [signature]</p>

<h3>Si mariage</h3>
<p>Il faut demander la modification de l'acte de mariage et joindre le consentement libre et éclairé de la personne avec qui le mariage a été fait et une copie de l'acte de mariage!</p>

<p>S'il plait au Tribunal d'accorder à [Identité complète de la personne] la modification de sa mention de sexe à l'état civil, moi, [Identité complète de la personne qui donne son consentement] sain.e de corps et d'esprit  donne mon consentement libre et éclairé à la modification de l'acte de mariage scellant notre union du XX/XX/XXXX en la mairie de [Lieu], [Département] ([Numéro département)] ainsi que du livret de famille établi consécutivement. [signature]</p>

<h3>Dans le cas général</h3>
<ul>
	<li>document d'identité</li>
	<li>attestation de domicile</li>
	<li>les actes dont on demande la modification</li>
	<li>les Cerfa de consentement</li>
	<li>La requête et toutes ses pièces justificatives</li>
</ul>


<h2>Fin ?</h2>
<strong>Courage !!! Tout en double exemplaire !!!</strong>
{% endblock %}
