{% extends 'pdfgenerator/base.html' %}
{% block content %}
<h1>C'est parti pour le changement de la mention de sexe à l'état civil ?</h1>
<p>Déjà : courage, patience et détermination. C'est pas simple mais ce n'est pas non plus infaisable.</p>

<p>Ça va être long et plein de détails un peu lourds, mais ça va bien se passer !</p>


<h2>Avocat, personne mandataire ou en personne ?</h2>
<p>C'est un choix que tu vas devoir faire ! Avec avocat.e, tu n'as plus grand chose à faire ici, tu peux t'en remettre à ton.a avocat.e ! Si tu choisis de le faire sans avocat.e tu dois faire le choix entre les 2 autres possibilités.</p>

<ul>
	<li> présentation de la requête en personne (tu fais les démarches seul.e et te présente à l'éventuelle audience seul.e)</li>
	<li> avec une personne mandataire (tu es assisté.e dans les démarches etc par un.e proche)</li>
</ul>

Attention, les personnes qui sont éligibles à t'assister dans tes démarches sont :

<ul>
	<li> tes parents</li>
	<li> ton.a conjoint.e par le mariage</li>
	<li> ton.a partenaire de PACS</li>
</ul>

Les deux cas et leurs différences de paperasseries seront indiquées au fur et à mesure.

<h2>Où est-ce que je m'adresse ? À qui ?</h2>
<p>Depuis le 01/01/2020, la requête est à adresser au <strong>Tribunal Judiciaire</strong> qui est compétent.</p>

<p>Si tu es né.e à l'étranger, le tribunal judiciaire compétent est celui de Nantes. Si tu es apatride, réfugié.e ou sous protection subsidiaire avec un certificat de l'OPFRA en lieu d'acte de naissance, le tribunal compétent est celui de de Paris. Dans les autres cas, le tribunal judiciaire compétent est celui de ton lieu de résidence.</p>

<p>Tu peux trouver l'adresse du tribunal judiciaire de ton lieu de résidence en ligne.</p>

<p>La requête que tu vas écrire se fait <strong>devant la chambre du Conseil</strong> (article 1055-8 du Code de procédure civile).<p>

<p>Tu adresses donc la requête au</p>
<p>Tribunal Judicidaire [Nom du lieu]</p>
<p>Chambre du Conseil</p>
<p>[Adresse]</p>
<p>[Code Postal] [Ville] [Cedex]</p>

<p>L'intégralité des documents doit être présent en <strong>deux exemplaires</strong> que tu peux soit déposer au greffe soit envoyer par courrier (avec accusé de réception !).</p>

<h2>Documents pouvant faciliter la procédure</h2>
Tu peux, si tu veux, ajouter les documents suivant à ton dossier :
<ul>
	<li><a href="https://www.formulaires.service-public.fr/gf/cerfa_16037.do">Cerfa 16037</a> donnant le consentement à une procédure sans audience</li>
	<li><a href="https://www.formulaires.service-public.fr/gf/cerfa_15414.do">Cerfa 15414</a> donnant le consement à la transmission par voie électronique</li>
</ul>

<h2>La requête en elle même</h2>
Respire, accroche toi :)

<h3>La page de garde</h3>
Il faut que tu mentionnes les éléments suivants :
<ul>
	<li>Le titre : Requête en modification de la mention de sexe à l’état-civil</li>
	<li>Les personnes à qui s'est adressé : À Mesdames et Messieurs les Présidents et Juges composant le Tribunal Judiciaire de [Lieu]</li>
	<li>Les gens visé : Devant la chambre du Conseil</li>
	<li>La justification des gens visés : article 1055-8 du Code de procédure civile</li>
	<li>L'identité complète de la personne requérante
		<ul>
			<li>Prénom [Nom d'usage s'il y a lieu] né [Nom de naissance], requérant.e</li>
			<li>Né.e le XX/XX/XXXX à [Ville], [Département en toute lettre] ([Numéro de département])</li>
			<li>[Profession]</li>
			<li>[Adresse complète]</li>
		</ul>
	</li>
	<li>S'il y a lieu, la même chose pour la personne mandataire (remplacer "requérant.e" par "personne mandataire")</li>
	<li>Qui fait quoi : Sans avocat, présentant sa requête en personne ou bien Sans avocat, présentant la requête comme personne mandataire, en qualité de [lien d'alliance : père, mère, époux, épouse, partenaire de PACS]</li>
</ul>

<h3>Le plan</h3>
<p>Tu commences même si c'est désuet par "À l'honneur de présenter ce qui suit :"</p>

<ul>
	<li>Énoncé des faits
		<ul>
			<li>Commence par un petit paragraphe qui explique que la personne requérante a été déclaré de sexe A et qu'on lui a choisi un prénom de type A mais que afin de respecter l'identité de genre réelle tu vas la genrer en B.</li>
			<li>Témoignage du requérant/de la requérante. Dans cette partie tu cites les éléments de témoignage que la personne demandant le changement de la mention de sexe à l'état civil souhaite apporter et qui mettent en lumière sa transidentité et sa revendication de la demande du changement de la mention de sexe.</li>
			<li>Présentation dans l'espace public. Dans cette partie tu cites les éléments montrant que la personne requérante se présente sous son genre revendiqué (oui je sais ça craint).</li>
			<li>Reconnaissance de l'identité dans la famille. Par exemple extraits d'attestations de la famille.</li>
			<li>Reconnaissance de l'identité par les amis et amies. Par exemple extraits d'attestation de potes.</li>
			<li>Reconnaissance de l'identité dans la sphére professionnelle. Par exemple photo de badge, contrats, etc</li>
			<li>Reconnaissance de l'identité par les organismes. Par exemple courriers de la CPAM, etc</li>
			<li>Changement de prénom. Là tu cites la décision d'autorisation de changement de prénom (numéro, autorité etc).</li>
		</ul>
	</li>
	<li>Rappel de l'état actuel de la loi</li>
	<li>Conclusion</li>
	<li>Liste des pièces</li>
</ul>

{% endblock %}
