{% extends 'pdfgenerator/base.html' %}
{% block content %}
<h1>C'est parti pour le changement de la mention de sexe à l'état civil ?</h1>
<p>Déjà : courage, patience et détermination. C'est pas simple mais ce n'est pas non plus infaisable.</p>

<p>Ça va être long et plein de détails un peu lourds, mais ça va bien se passer !</p>


<h2>Avocat, personne mandataire ou en personne ?</h2>
<p>C'est un choix que tu vas devoir faire ! Avec avocat.e, tu n'as plus grand chose à faire ici, tu peux t'en remettre à ton.a avocat.e ! Si tu choisis de le faire sans avocat.e tu dois faire le choix entre les 2 autres possibilités.</p>

<ul>
	<li> présentation de la requête en personne (tu fais les démarches seul.e et te présente à l'éventuelle audience seul.e)</li>
	<li> avec une personne mandataire (tu es assisté.e dans les démarches etc par un.e proche)</li>
</ul>

Attention, les personnes qui sont éligibles à t'assister dans tes démarches sont :

<ul>
	<li> tes parents</li>
	<li> ton.a conjoint.e par le mariage</li>
	<li> ton.a partenaire de PACS</li>
</ul>

Les deux cas et leurs différences de paperasseries seront indiquées au fur et à mesure.

<h2>Où est-ce que je m'adresse ? À qui ?</h2>
<p>Depuis le 01/01/2020, la requête est à adresser au <strong>Tribunal Judiciaire</strong> qui est compétent.</p>

<p>Si tu es né.e à l'étranger, le tribunal judiciaire compétent est celui de Nantes. Si tu es apatride, réfugié.e ou sous protection subsidiaire avec un certificat de l'OPFRA en lieu d'acte de naissance, le tribunal compétent est celui de de Paris. Dans les autres cas, le tribunal judiciaire compétent est celui de ton lieu de résidence.</p>

<p>Tu peux trouver l'adresse du tribunal judiciaire de ton lieu de résidence en ligne.</p>

<p>La requête que tu vas écrire se fait devant la chambre du Conseil (article 1055-8 du Code de procédure civile).<p>

<p>Tu adresses donc la requête au
Tribunal Judicidaire [Nom du lieu]
Chambre du Conseil
[Adresse]
[Code Postal] [Ville] [Cedex]</p>

<p>L'intégralité des documents doit être présent en <strong>deux exemplaires</strong> que tu peux soit déposer au greffe soit envoyer par courrier (avec accusé de réception !).</p>


{% endblock %}
