{% extends 'pdfgenerator/base.html' %}
{% static 'css/boostrap.min.css' %}
{% block content %}
<h1>Mais qu'est ce donc ?</h1>
<p>Ce site permet de générer des fichiers PDF du dépôt git <a href="https://gitlab.climent-pommeret.red/Chopopope/transadministratif">localisé ici</a></p>
<p>Des exemples de fichiers générés sont disponibles <a href="https://gitlab.climent-pommeret.red/Chopopope/site-transadministratif/wikis/Exemple-de-fichiers-g%C3%A9n%C3%A9r%C3%A9s">ici</a>.</p>

<h1>Que fais-je de vos données ?</h1>
<p>A priori, je ne garde rien de rien, sauf erreur de configuration de ma part, ce qui m'embêterait beaucoup, du coup je vais faire relire tout ça.</p>

<h1>Une check list ? </h1>
Si changement de prénom à l'État-Civil :
<ul>
<li> carte de transport </li>
<li> CNI/passeport </li>
<li> permis de conduire </li>
<li> impôts </li>
<li> médecins </li>
<li> mutuelle </li>
<li> carte de groupe sanguin/donneur.se d'organes </li>
<li> MDPH </li>
<li> électricité/gaz/eau </li>
<li> opérateur téléphonique/Internet </li>
<li> carte d'électeur.rice </li>
</ul>
Si changement de mention de sexe à l'État-Civil :
<ul>
<li> CNI/passeport </li>
<li> permis de conduire </li>
<li> numéro INSEE </li>
<li> numéro de sécurité sociale </li>
</ul>
{% endblock %}
