{% extends 'pdfgenerator/base.html' %}

{% block content %}
<p>Ce site a pour but de générer les fichiers PDF de <a href="https://gitlab.climent-pommeret.red/Chopopope/transadministratif">ce dépôt git</a> pour celles et ceux qui ne savent pas manier LaTeX et/ou git (pas de honte à avoir, c'est loin d'être trivial).</p>

<p>Des exemples de fichiers générés sont disponibles <a href="https://gitlab.climent-pommeret.red/Chopopope/site-transadministratif/wikis/Exemple-de-fichiers-g%C3%A9n%C3%A9r%C3%A9s">ici</a>.</p>

<p>A priori, je ne garde rien de rien, sauf erreur de configuration de ma part, ce qui m'embêterait beaucoup, du coup je vais faire relire tout ça.</p>

{% endblock %}
